*.7z
*.jar
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class
*.u5
nbproject/private/
build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
.DS_Store
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
/dist/
dist/
